.table {
  margin-inline: auto;
  width: 95%;
  text-align: center;
  justify-content: space-between;
  height: 300px;
  margin-top: 30px;
  color: black;
  border-collapse: collapse;
}
.table tr:nth-child(even) {
  background-color: lightgray;
}
.table tr:nth-child(1) {
  background-color: purple;
  color: white;
}

.table a {
  text-decoration: none;
  color: black;

  width: 100%;
}
.table input {
  color: black;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
}
.add {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
.add a {
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 10px;
  padding-inline: 40px;
  margin-top: 20px;
}
.movie {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.director {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.actors {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  
}
.genres {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.save{
 display: flex;
 width: 100%;
 align-items: center;
 justify-content: center;


}
.save input{
   padding:10px ;
 padding-inline: 30px;
 background-color: white;
 border: none;
}
.all{
  width: 80%;
  margin-top: 30px;
  
  margin-inline: auto;
  background-color: darkorchid;
  color: white;
  height: 500px;
  justify-content: space-between;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
